.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.headerContainer h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-variant: all-petite-caps;
}


.headerContainer select {
    -webkit-appearance: none;
    height: 2rem;
    margin: .5rem;
    width: max-content;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    color: red;
    font-weight: bold;
    padding: .5rem;
}

.initialPageWarn {
    text-align: center;
    color: white;
}

.selectFlex {
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}